.header {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 5;
    max-width: 375px;
    border-bottom: 1px solid rgba(190, 190, 190, 0.5);
}


.header__id-profile {
    font-size: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.header__button {
    width: 24px;
    height: 24px;
}

.header__button-add-card {
    background: no-repeat center/24px url("../../images/icon/icon-plus.svg");
    margin-right: 10px;
}

.header__button-menu {
    background: no-repeat center/24px url("../../images/icon/icon-menu.svg");
}

.header__content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__publications-id-profile {
    font-size: 13px;
    font-weight: 700;
    color: rgba(95, 93, 93, 0.7);
    text-transform: uppercase;
    margin-bottom: 2px;
    text-align: center;
}

.header__publications-title,
.header__subscribers-title {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.header__publications-button,
.header__subscribers-button {
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
    background: no-repeat center/20px url('../../images/icon/icon-left-arrow.svg');
    transform: translate(0, -50%);
}

.header__publications-button {
    padding: 10px;
}
