.profile {
    padding: 55px 10px 10px;
}

.profile__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

profile__wrapper-image {

}

.profile__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__unordered-list {
    display: flex;
}

.profile__public-info {
    width: 100%;
    display: flex;
    justify-content: center;
}


.profile__item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.profile__item-list:hover {
    cursor: pointer;
}

.profile__item-list:last-of-type {
    margin-right: 0;
}

.profile__item-number {
    font-size: 15px;
}

.profile__item-subtitle {
    margin: 0;
    font-size: 12px;
}

.profile__name {
    font-size: 20px;
    margin: 0 0 5px 0;
}

.profile__signature {
    font-size: 13px;
}

.profile__info {
    margin-bottom: 10px;
}

.profile__button-edit {
    width: 100%;
    background: none;
    border: 1px solid rgba(190, 190, 190, 0.5);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}